<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>地质云 GeoCloud</title>

	<meta name="keywords" content="Javascript" />

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/echarts.js"></script>
	<script type="text/javascript" src="../js/echartsHome.js"></script>
	<script type="text/javascript" src="../js/china.js"></script>
	<script type="text/javascript" src="../js/geoCloud.js"></script>
	<script type="text/javascript" src="../js/www2/echarts-all.js"></script>
	<link type="text/css" rel="stylesheet" href="../css/geoCloud.css">
	<link type="text/css" rel="stylesheet" href="../css/echartsHome.css">
	</head>
	<body>
		<div class="GeoCloud">
			<div class="header-title"></div>
			<div class="main-container">
				<div class="LeftPart"></div>
				<div class="MainPart">
					<div class="topData">
						<div class="Left Data">
							<div class="title">系统接入量</div>
							<div class="Num" id="SysIn">
								<span class="num-item">0</span>
								<span class="num-item">1</span>
								<span class="num-item">2</span>
								<span class="num-item">3</span>
								<span class="num-item">4</span>
							</div>
						</div>
						<div class="Right Data">
							<div class="title">访问统计量</div>
							<div class="Num" id="Visit">
								<span class="num-item">0</span>
								<span class="num-item">7</span>
								<span class="num-item">8</span>
								<span class="num-item">9</span>
								<span class="num-item">6</span>
								<span class="num-item">5</span>
							</div>
						</div>
					</div>
					<div id="Map" class="Map"></div>
				</div>
				<div class="RightPart"></div>
			</div>
		</div>
	</body>
</html>